<!DOCTYPE HTML>


<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Front page</title>

    <link rel="stylesheet"
          th:href="@{/css/mineStyles.css}" />
</head>

<body style="font-size: 30px" class="backcolor">

   <div style="text-align: right; margin-right: 40px">
    <p>
        <a href="/service/login">Sign in</a><br>
        <a href="/service/register">Register</a>
    </p>
   </div>

   <div style="text-align: center">
       <h1>Welcome again!</h1>
       <h3>Little boi...</h3>
  </div>


</body>

</html>