<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Logged In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet"
          th:href="@{/css/mineStyles.css}" />
    
</head>
<body class="backcolor">


<div>

          <div style="font-family: 'Times New Roman';font-size: 15px;display: inline-block">
                <span sec:authentication="principal.authorities">Role</span>:
                <b><span sec:authentication="name">Username</span></b>
          </div>

        <div style="margin-right: 20px;text-align: right">
            <form th:action="@{/logout}" method="post">
                <input style="margin-top: 5px" class="btn btn-success" type="submit" value="Logout"/>
            </form>
        </div>

        <div style="text-align: right;margin-right: 20px">
            <br>
            <a th:href="@{/service/logged/update(customerId=${loggedCustomer.id})}">
                <input class="btn btn-primary" type="submit" value="Update Profile"/>
            </a>
        </div>

        <br>
        <div style="margin-left: 37%;text-align: center">
            <p style="border: 3px solid black;font-size: 30px;font-family: 'Times New Roman';max-width: 400px">
                Hi <span sec:authentication="name">Username</span>!<br>
                Here is your main page!
            </p>
        </div>

        <div style="text-align: center" sec:authorize="hasAuthority('CUSTOMER')">
            <form th:action="@{/service/logged/showDetails}">
                <input class="btn btn-info" type="submit" value="Take your results"/>

            </form>
        </div>

</div>



</body>

</html>