<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Logged In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet"
          th:href="@{/css/mineStyles.css}" />
</head>
<body class="backcolor">

<div style="text-align: right;margin-right: 20px" >

    <form th:action="@{/logout}" method="post">
        <input class="btn btn-success" type="submit" value="Logout"/>
    </form>
    <br>

    <div sec:authorize="isAuthenticated()"
         th:object="${loggedCustomer}">


        <i><span sec:authentication="principal.authorities">Roles</span></i>:
        <b><span sec:authentication="name">Username</span></b>
        <br>


        <a th:href="@{/service/logged/update(customerId=${loggedCustomer.id})}">
            <input class="btn btn-primary" type="submit" value="Update Profile"/>
        </a>


        <div style="margin-top: 5px;" sec:authorize="hasAuthority('CUSTOMER')">
            <form th:action="@{/service/logged/showDetails}">
                <input class="btn btn-primary" type="submit" value="Show new info"/>

            </form>
        </div>

    </div>
</div>

    <h2 style="text-align: center;">You successfully logged in :)</h2>

</body>

</html>